HELP.md
.gradle

/build/
# Vyňatie z ignorovania insuranceApp.jar
!libs/insuranceApp.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# .gitignore

# Vylúčiť všetky súbory s príponou .properties
#*.properties
#!system.properties
