.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

/*
 * Sidebar
 */

 #sidebarContainer {
 position: fixed;

   left: 0px;
   bottom: 0px;
  width: 57px;
  height: 400px;
     overflow: hidden;
      border-top-right-radius: 10px;


 }


.disabled {
        pointer-events: none; /* disable interaction in disabled mode */
        opacity: 0.5;
      }


#sidebarContainer #sidebarNav .nav-link {
    white-space: nowrap;
    overflow: hidden; /* hide overflowing text*/
    text-overflow: ellipsis;
}


/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
}
/* applicate gradient to body */
html, body {
  background: linear-gradient(to bottom, var(--bg-body-color-start), var(--bg-body-color-end));
  height: 100%;
  margin: 0;
  overflow-y: auto;
  font-family: 'Montserrat', sans-serif;
}



   [data-bs-theme="light"] {
      --bg-body-color-start: #0f60ca; /* starting color for light mode */
      --bg-body-color-end: #ffffff; /* ending color for light mode */
        #sidebarContainer {
           background: linear-gradient(to bottom, var(--bg-body-color-start), var(--bg-body-color-end)) !important;
         }
        .customHr {
          border-top: 1px solid dodgerblue !important; /* color of the edge for light mode */
        }
        #userFirstName {
         color: black !important;
                      }
            #strongItem{
        color: black !important;
       }

    }

    /* dark mode */
    [data-bs-theme="dark"] {
      --bg-body-color-start: #0f60ca; /* starting color for dark mode*/
      --bg-body-color-end: #000000; /* ending color for dark mode*/
      #sidebarContainer {
                 background: linear-gradient(to bottom, var(--bg-body-color-start), var(--bg-body-color-end)) !important;
               }
                /* color of text in sidebar in dark mode */
                  #userFirstName {
                         color: white !important;
                                      }
                            #strongItem{
                        color: white !important;
                       }

    }

.content {
 display: none;
      max-width: 800px;
      margin: 0 auto; /* center content to the middle */
      padding: 20px;
  position: absolute;
  left: 70px;

  display: none; /* hide every content sections*/

  }

  .profile-section {
  display: none; }

  .profile-section.active {
  display: block; }

  /* for display active content */
  .content.active {
      display: block;
  }

@media (prefers-color-scheme: dark) {
    .homePageCover {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    }
}

.homePageCover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);

}
@media (prefers-color-scheme: dark) {
    #sidebarContainer{
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    }
}

#sidebarContainer{
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

#priceIndicator {
  width: 280px;
  height: 280px;
  border-radius: 140px 140px 140px 140px;
  position:absolute;
  top: 450px;
  left:5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);


  background: linear-gradient(to bottom, grey 0%, black 100%);
  transition: background 0.5s ease;
}
#formPZP{
width: 250px;
}

#ageOfCar{
 border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#power{
 border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
   border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#yearsOfDriving{
 border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
   border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#kilometres{
   border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.customMargin {
  margin-bottom: 18px;
}

#footer {
    position: relative;
    bottom: 10px;
}

.nav-link.dropdown-item {
  padding-left: 10px;
}

.bi-pencil-square:hover {
   color: dodgerblue;
   cursor: pointer;
}
.bi-pencil-square{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}


#formSettings {
   position: absolute;
    top: 148px;
    width: 250px;
}
#importImageDiv{
width: 250px;
}










