.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

@media (prefers-color-scheme: dark) {
    .homePageCover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
}

.homePageCover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
 border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
       border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;


}


/*
 * Sidebar
 */

 #sidebarContainer {
 position: fixed;
  top: 50;
   left: 0;
   bottom: 0;
  width: 57px;
  height: 500px;
     overflow: hidden;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;


 }


#sidebarContainer.collapsed {

   width: 300px;
        height: 500px;
         border-top-right-radius: 10px;
         border-bottom-right-radius: 10px;
}


#sidebarContainer #sidebarNav .nav-link {
    white-space: nowrap; /* zabráni zalamovaniu textu */
    overflow: hidden; /* skryje nadbytočný text, ktorý by presahoval za ikony */
    text-overflow: ellipsis; /* pridá "..." na koniec textu, ak sa skrýva */
}

.sidebar-toggle-icon:hover {
  transform: scale(1.1); /* Zväčšiť veľkosť o 10% po prejdení kurzorom */
  }



/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
}


  .profile-section {
  display: none; }

  .profile-section.active {
  display: block; }

  .content {
      display: none;
      max-width: 800px; /* Maximálna šírka obsahu, prispôsobte podľa potreby */
      margin: 0 auto; /* Centrovanie obsahu na stred stránky */
      padding: 20px; /* Ľubovoľné odsadenie od okrajov */
  }

  /* Pravidlo na zobrazenie aktívneho obsahu */
  .content.active {
      display: block;
  }

