.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

/*
 * Sidebar
 */

 #sidebarContainer {
  width: 57px;
     overflow: hidden;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;


 }


#sidebarContainer.collapsed {
   width: 300px;
        height: 500px;
         border-top-right-radius: 10px;
         border-bottom-right-radius: 10px;
}


#sidebarContainer #sidebarNav .nav-link {
    white-space: nowrap; /* zabráni zalamovaniu textu */
    overflow: hidden; /* skryje nadbytočný text, ktorý by presahoval za ikony */
    text-overflow: ellipsis; /* pridá "..." na koniec textu, ak sa skrýva */
}


/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
}


  .profile-section {
  display: none; }

  .profile-section.active {
  display: block; }

